/* 
Alegreya - Headings
Merriweather - Subheadings
Bacasime Antique - Content
*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Bacasime+Antique&family=Merriweather&display=swap");

:root {
  --primary-color: #f69ba0;
  --secondary-color: #f9c4cd;
  --accent-color: #de3f2a;
}

.navbar-bg {
  background-color: var(--primary-color);
}

.navbar-logo {
  max-width: 125px;
}

#active-color {
  color: var(--accent-color);
}

#active-color:hover {
  color: white;
}

a.nav-link {
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
}

a.nav-link:hover {
  color: var(--accent-color);
}

.container.homepage-spacing {
  padding-top: 55px;
}

.intro-container {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: 4px 2px 2px lightgray;
  text-align: center;
  padding: 8px 15px;
}

.intro-heading {
  color: white;
  font-family: "Alegreya", sans-serif;
  font-size: 55px;
  line-height: 1.5;
}

.intro-content {
  color: white;
  font-family: "Bacasime Antique", sans-serif;
  font-size: 30px;
}

.btn.btn-branding {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  padding: 10px 25px;
}

.btn.btn-branding:hover {
  background-color: var(--accent-color);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
}

.img-container {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: 4px 2px 2px lightgray;
  display: block;
  text-align: center;
  padding: 6px 0;
  width: 300px;
}
img {
  width: 255px;
  object-fit: cover;
}

.skills-heading {
  color: var(--accent-color);
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  text-align: center;
}

.selected-skills {
  color: var(--accent-color);
  font-family: "Bacasime Antique", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

.skills-icon {
  width: 140px;
  margin-left: 27px;
  margin-top: 4px;
}

.container.media-links {
  max-width: 100%;
  margin-left: 210px;
}

.media-links a {
  bottom: 0;
  color: var(--accent-color);
  font-size: 35px;
}

.hero-content {
  background-color: var(--secondary-color);
  opacity: 0.75;
  padding: 55px 20px;
}

.hero-content h1 {
  color: white;
  font-size: 64px;
  font-family: "Alegreya", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.hero-paragraph p {
  display: block;
  font-size: 20px;
  font-family: "Bacasime Antique", sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.core-values-content h2 {
  color: var(--primary-color);
  font-family: "Merriweather", sans-serif;
  font-size: 26px;
  text-align: center;
}

.core-value-one,
.core-value-four {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.core-value-two,
.core-value-three {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.core-values-heading {
  color: var(--accent-color);
  font-family: "Merriweather", sans-serif;
  text-align: center;
  margin-top: 10px;
}

.core-values-desc {
  color: white;
  font-size: 20px;
  font-family: "Bacasime Antique", sans-serif;
  text-align: center;
}

.project-img-container {
  display: grid;
  place-items: center;
}

.square-project-images {
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;
  width: 475px;
}

.rectangle-project-images {
  border-radius: 8px;
  box-shadow: 2px 2px 2px lightgray;
  width: 100%;
}

.project-desc {
  background-color: rgba(249, 196, 205, 0.25);
  padding: 35px;
}

.project-desc h2 {
  color: var(--primary-color);
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  text-align: center;
}

.project-desc p {
  font-family: "Bacasime Antique", sans-serif;
  font-size: 20px;
  text-align: center;
}

.project-links {
  text-align: center;
}

.btn-styling {
  background-color: var(--accent-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.btn-styling:hover {
  background-color: white;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media (max-width: 992px) {
  #homepage-intro {
    width: 100%;
  }
  .img-container {
    display: none;
  }

  .skills-heading {
    font-size: 38px;
  }

  .selected-skills {
    font-size: 30px;
  }

  .skills-container {
    display: inline-block;
  }

  .container.media-links {
    margin-top: 35px;
  }

  .skills-icon {
    margin-bottom: 50px;
    margin-left: 0;
  }

  .square-project-images,
  .rectangle-project-images {
    display: none;
  }
}
