/* 
Alegreya - Headings
Merriweather - Subheadings
Bacasime Antique - Content
*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Bacasime+Antique&family=Merriweather&display=swap");

:root {
  --primary-color: #5a7969;
  --secondary-color: #e16539;
  --accent-color: #303030;
}

body {
  background-color: #fbe8d8;
}

.nav-container {
  background-color: var(--primary-color);
}

.portfolio-logo {
  max-width: 6rem;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 120px;
  margin-left: 15px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Merriweather", sans-serif;
  transition: all 150ms ease-in-out;
}

nav li a:hover {
  color: var(--accent-color);
}

nav li a.active {
  color: var(--accent-color);
}

.navbar-bg {
  background-color: var(--primary-color);
}

#active-color {
  color: var(--accent-color);
}

#active-color:hover {
  color: white;
}

a.nav-link {
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
}

a.nav-link:hover {
  color: var(--accent-color);
}

.container.homepage-spacing {
  padding-top: 55px;
}

.intro-container {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: 4px 2px 2px lightgray;
  text-align: center;
  padding: 8px 15px;
}

.intro-heading {
  color: white;
  font-family: "Alegreya", sans-serif;
  font-size: 55px;
  line-height: 1.5;
}

.intro-content {
  color: white;
  font-family: "Bacasime Antique", sans-serif;
  font-size: 30px;
}

.btn.btn-branding {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  padding: 10px 25px;
}

.btn.btn-branding:hover {
  background-color: var(--accent-color);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
}

.img-container {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: 4px 2px 2px lightgray;
  display: block;
  text-align: center;
  padding: 6px 0;
  width: 300px;
}

img {
  border-radius: 1rem;
  width: 285px;
  object-fit: contain;
}

.hero-content {
  background-color: var(--secondary-color);
  padding: 55px 20px;
}

.hero-content h1 {
  color: white;
  font-size: 64px;
  font-family: "Alegreya", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.hero-paragraph p {
  display: block;
  color: var(--accent-color);
  font-size: 20px;
  font-family: "Bacasime Antique", sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.core-values-content h2 {
  color: var(--accent-color);
  font-family: "Merriweather", sans-serif;
  font-size: 26px;
  text-align: center;
}

.core-value-one,
.core-value-four {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.core-value-two,
.core-value-three {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

.core-values-heading {
  color: var(--accent-color);
  font-family: "Merriweather", sans-serif;
  text-align: center;
  margin-top: 10px;
}

.core-values-desc {
  color: white;
  font-size: 20px;
  font-family: "Bacasime Antique", sans-serif;
  text-align: center;
}

.certificates-heading {
  margin-bottom: 24px;
}

.project-desc {
  background-color: rgba(229, 199, 177, 0.3);
  padding: 35px;
}

.project-desc h2 {
  color: var(--accent-color);
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  text-align: center;
}

.project-desc p {
  font-family: "Bacasime Antique", sans-serif;
  font-size: 20px;
  text-align: center;
}

.project-links {
  text-align: center;
}

.btn-styling {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.btn-styling:hover {
  background-color: var(--accent-color);
  color: white;
}

.social-links a {
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  font-size: 30px;
  margin: 30px 25px;
  padding: 10px 17px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  background-color: var(--accent-color);
  color: white;
}

.contact-box {
  background-color: rgba(229, 199, 177, 0.3);
  padding: 30px 120px;
  text-align: center;
}

.contact-box-heading {
  color: var(--accent-color);
  font-family: "Alegreya", sans-serif;
  font-size: 38px;
}

.contact-box-p {
  font-family: "Bacasime Antique", sans-serif;
  font-size: 18px;
  margin: 0;
}

.btn.contact-btn {
  background-color: var(--primary-color);
  color: white;
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  padding: 15px 30px;
}

.btn.contact-btn:hover {
  background-color: var(--accent-color);
  border: 1px solid white;
  color: white;
}

@media (max-width: 992px) {
  #homepage-intro {
    width: 100%;
  }
  .img-container {
    display: none;
  }
}

@media (max-width: 575px) {
  nav ul {
    display: contents;
  }
}
